@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* BODY */


.first-screen h1 {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.first-screen p {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.first-screen {
    padding: 2rem;
    margin: 100px;
    background: #f5f5f5;
    border-radius: 50px 50px 5px 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    font-size: 25px;
    color: #25d2db;
}

.services li {
    margin-right: 1.5rem;
}

.services li:last-child {
    margin-right: 0;
}

.services li a {
    color: #2b2323;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.services li a:hover {
    color: #11979e;
}

.menu {
    background-image: url(../img/menu-back.jpg);
    background-size: cover;
    height: 50vh;
    /* define a altura para 50% da altura da viewport */
    display: flex;
    /* ativa Flexbox */
    justify-content: center;
    /* alinha os filhos ao centro horizontalmente */
    align-items: center;
    /* alinha os filhos ao centro verticalmente */
    text-align: center;
    /* alinha o texto ao centro */
}

.content {
    width: 70%;
    /* define a largura do conteúdo para 70% da largura da .menu */
    max-width: 900px;
    /* opcional: limita a largura máxima do conteúdo */
}

.content h1 {
    font-weight: bold;
    color: #00ADB5;
    text-transform: uppercase;
}

.content p {
    font-weight: lighter;
    color: #ffffff;
    background-color: rgba(54, 52, 52, 0.322);
    padding: 10px;
    border-radius: 10px;
}

/* Container dos cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2em;
    gap: 2em;
    max-width: 90%; /* Isso limitará o tamanho do contêiner do cartão para 90% da largura da janela */
    margin: 0 auto; /* Isso irá centralizar o contêiner do cartão */
}

/* Estilização individual de cada card */
.card {
    position: relative;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    margin: 1em; /* Adiciona margens ao redor de cada cartão para dar mais espaço entre eles */
    transition: transform 0.3s ease-in-out;
    flex-grow: 1; /* Isso fará com que os cartões ocupem todo o espaço disponível, respeitando as margens e a largura máxima */
    flex-basis: calc((100% - 4em) / 3); /* Isso define a largura mínima do cartão como um terço da largura do contêiner, subtraído pelo espaço entre os cartões. Ajuste este valor conforme necessário */
}

.card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: #04e4f086;
    /* escolha a cor que deseja para o efeito de preenchimento */
    z-index: -1;
    transition: height 0.3s ease-in-out;
    border-radius: 10px;
}

.card:hover::before {
    height: 100%;
    border-radius: 10px;
}

/* Estilização do hover para dar um efeito legal ao passar o mouse */
.card:hover {
    transform: scale(1.05);
    border-radius: 10px;
}

/* Icone do card */
.card .icon {
    text-align: center;
    padding: 1em;
}

/* Descrição do card */
.card .description {
    padding: 1em;
    text-align: center;
}

.card .description h3 {
    margin-top: 0;
}

/* servicos */
.nav-serv {
    background-color: rgb(223, 223, 223);
    padding: 30px;
}
#service-nav {
    display: flex;
    justify-content: center; /* centraliza as abas */
    background-color: #04e4f086;
    max-width: 70%;
    padding: 0.5em;
    margin: 2.5em auto; /* adicione 'auto' após 2.5em para centralizar o elemento */
    flex-wrap: wrap;
    border-radius: 10px;
}

.service-tab {
    cursor: pointer;
    flex: 1 0 auto;
    text-align: center;
    margin: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;
}

.service-tab .tab-text {
    display: block;
}

.service-tab .tab-icon {
    display: none;
}

.service-tab:hover {
    background-color: #78e7ec7e;
    border-radius: 10px;
}

.service-tab.active {
    background-color: #407b7e33;
    border-radius: 10px;
}

#service-content {
    display: flex;
    align-items: center;
    gap: 1em;
    max-width: 60%;
    margin: 0 auto; /* Adiciona a centralização horizontal */

}

#service-text-content {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 1em; /* aumenta o gap para dar mais espaço entre as linhas de texto */
}

#service-content img {
    width: 30vw; /* reduz a largura da imagem para fazê-la parecer menor */
    height: 500px;
    border-radius: 10px; 
}

#service-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#service-title {
    margin-bottom: 10px; 
}

.service-tab.selected {
    background-color: #407b7e33;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .first-screen {
        display: none;
    }
    /* Se a tela for menor, ajusta os cards para ficarem um embaixo do outro */
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .content p {
        font-weight: lighter;
        color: #ffffff;
        font-size: 12px;
        background-color: rgba(54, 52, 52, 0.582);
        padding: 10px;
        border-radius: 10px;
    }

    #service-nav {
        flex-direction: row; /* Em pequenas telas, os itens devem ficar um abaixo do outro */
    }

    #service-content {
        flex-direction: column; /* Em pequenas telas, os itens devem ficar um abaixo do outro */
    }

    .service-tab .tab-text {
        display: none;
    }

    .service-tab .tab-icon {
        display: block;
    }

    #services {
        flex-direction: column;
        justify-content: center; /* Centraliza itens em pequenas telas */
        list-style: none;
        padding: 0;
        gap: 20px;
        font-size: 20px; /* Reduz o tamanho da fonte para melhor visualização em pequenas telas */
        color: #00ADB5;
    }

    .principal {
        flex-direction: column; /* Em pequenas telas, os itens devem ficar um abaixo do outro */
    }

    #service-content img {
        width: 250px; /* reduz a largura da imagem para fazê-la parecer menor */
        height: 250px;
        border-radius: 10px; 
        margin: 20px;
    }
}

/* card time */

.team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centraliza o texto dos headings */
    margin-top: 50px;
}

.team-section h2 {
    font-weight: bold;
}

.team-section-h3{
    font-weight: bold;
}

.highlight {
    color: #00ADB5; /* Troque '#FF0000' pela cor que você deseja */
}

.team-cards {
    display: flex;
    flex-direction: column;
    align-items: stretch; /* isso faz com que todos os cards tenham a mesma altura */
    gap: 1em;
}

.team-card {
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden; /* Esconde a parte da imagem que ultrapassar o border-radius */
    max-width: 200px; /* Ajuste a largura máxima conforme necessário */
    width: 100%; /* Faz com que o card ocupe todo o espaço disponível até a largura máxima */
    margin: 1em;
}

.team-card-image img {
    width: 100%;
    height: auto;
    max-height: 300px; /* ajuste este valor para alterar a altura da imagem */
    object-fit: cover; /* isso fará com que a imagem cubra todo o espaço disponível sem distorção */
}

.team-card-info {
    padding: 0.5em; /* diminua este valor para reduzir o espaço ao redor do texto */
    text-align: left; /* alinha o texto à esquerda */
}

.team-card-info h3 {
    margin: 0;
    font-size: 1.0em;
    color: #000000;
}

.team-card-info p {
    margin: 0.5em 0 0 0;
    font-size: 0.8em;
    color: #666666;
}

@media (min-width: 600px) {
    .team-cards {
        flex-direction: row;
        justify-content: center;
    }

    .team-card {
        max-width: 300px; /* Ajuste a largura máxima conforme necessário para telas maiores */
    }

    .team-card-info h3 {
        font-size: 1.2em;
    }

    .team-card-info p {
        font-size: 1em;
    }
}
/* FIM CARD-TIME*/ 

/* Estilização da seção de contatos */
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

.contact-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

.contact-title h2{
    font-weight: bold;
}

.contact-title h3 {
    color: #00ADB5;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Isso permite que os itens se ajustem à largura da tela */
    width: 80%;
    margin-right: 50px;
    margin-top: 40px;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: 2px dotted #00ADB5; /* Círculo pontilhado ao redor */
    border-radius: 50%; /* Faz o contorno ficar circular */
    width: 50px; /* Ajuste o tamanho conforme necessário */
    height: 50px; /* Ajuste o tamanho conforme necessário */
    padding: 30px;
}

.contact-item h4, .contact-item p {
    margin: 0;
}

.contact-item h4 {
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    color: #00ADB5;
    margin-top: 5px;
}

.contact-item p {
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 5px;
    color: #00ADB5;
}
/* Ícones do FontAwesome */
.contact-section  .fas, .fab {
    color: #00ADB5;
    font-size: 30px; /* Ajuste o tamanho do ícone conforme necessário */
}

@media screen and (max-width: 590px) {

    .contact-info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap; /* Isso permite que os itens se ajustem à largura da tela */
        width: 100%;
        gap: 50px;
        margin-left: 50px;
    }
    
    .principal {
        display: flex;
        justify-content: start;
    }

    .principal img {
        display: none;
    }
}